.header {
display: flex;
gap: 450px;
border-bottom: 1px solid var(--badges);
padding: 24px 64px;
width: 1440px;
height: 72px;
background: var(--inputs);
}

.logoLink {
    width: 136px;
    height: 16px;
}

.headerNav {
    display: flex;
    gap: 32px;
}

.headerNavLink {
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
text-align: center;
color: var(--main); 
}