.mainPageWrp {
background-color: #2a2a2a;
background-image: url(/Hero-img.png);
width: 1440px;
height: 696px;
padding: 260px 805px 260px 64px;
}

.mainPageInfo {
width: 571px;
height: 176px;
}

.mainPageTitle {
font-family: var(--font-family);
font-weight: 600;
font-size: 48px;
line-height: 67%;
color: #FFFFFF;
margin-bottom: 16px;
}

.mainPageTxt {
   font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 133%;
color: #FFFFFF;
margin-bottom: 40px;
}

.mainPageBtn{
border-radius: 200px;
padding: 16px 60px;
width: 173px;
height: 56px;
background-color: #E44848;
color: #F7F7F7;
}