.truckCard {
    max-width: 888px;
    max-height: 368px;
    border: 1px solid var(--gray-light);
    border-radius: 20px;
    padding: 24px;
    display: flex;
    gap: 24px;
    background-color: #F7F7F7;
    margin-bottom: 32px;
}

.imgWrp {
    width: 292px;
    height: 320px;
    overflow: hidden;
}

.img {
    max-width: 100%;
  max-height: 100%;
  object-fit: cover;   
  object-position: center; 
}

.truckInfo {
    height: 320px;
    width: 524px;
}

.truckNamePrice {
display: flex;
justify-content: space-between;
margin-bottom: 8px;
}

.NamePrice {
font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 133%;
color: #101828;
}

.truckReviewsLocation {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.truckReviewsLocation  div {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #101828;
}

.description{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #101828;
margin-bottom: 24px;
}

.optionList {
   display: flex;
   flex-wrap: wrap;
   gap: 8px; 
   margin-bottom: 24px;
}

.optionItem {
    border-radius: 100px;
padding: 12px 18px;
height: 48px;
background: #DADDE1;
mix-blend-mode: multiply;
}

.btn {
border-radius: 200px;
padding: 16px 60px;
height: 56px;
background-color: #E44848;
}