.form {
    width: 360px;
    display: block;
}

.locationWrp {
    width: 360px;
    height: 88px;
    margin-bottom: 40px;
}

.locationLabel {
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--gray);
}

.locationInput {
border-radius: 12px;
border: none;
padding: 18px 218px 18px 20px;
width: 360px;
height: 56px;
background: #DADDE1;
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--main);
}
.checkboxWrp {
margin-bottom: 32px;
}

.checkboxTitle {
   font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 120%;
color: #101828; 
margin-bottom: 24px;
}
.checkboxItem {
    display: grid;
    gap: 12px;
}

.redioBtnWrp {
    margin-bottom: 40px;
}
.redioBtnTitle {
    font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 120%;
color: #101828;
margin-bottom: 24px;
}
.redioBtnItems{
    display: flex;
    gap: 12px;
}

.submitBtn {
border-radius: 200px;
padding: 16px 60px;
width: 166px;
height: 56px;
background-color: #D84343;
}